body {
  margin: 0;
  background: #000;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding-top: 100px;
}

.heart {
  width: 100px;
  height: 90px;
  background: red;
  position: relative;
  margin: 0 auto;
  transform: rotate(-45deg);
  animation: beat 1s infinite;
}

.heart::before,
.heart::after {
  content: "";
  width: 100px;
  height: 90px;
  background: red;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  left: 50px;
  top: 0;
}

@keyframes beat {
  0%, 100% {
    transform: rotate(-45deg) scale(1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2);
  }
}
